In [26]:
import numpy as np

In [27]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

### 1. How many negative numbers are there?

In [28]:
(a < 0).sum()

4

### 2. How many positive numbers are there?

In [29]:
(a > 0).sum()

5

In [30]:
# How many 0s are in the array?

(a == 0).sum()

3

### 3. How many even positive numbers are there?

In [34]:
a[(a > 0) & (a % 2 == 0)].shape

(3,)

In [6]:
((a > 0) & (a % 2 == 0)).sum()

3

### 4. If you were to add 3 to each data point, how many positive numbers would there be?

In [7]:
((a + 3 )> 0).sum()

10

### 5. If you squared each number, what would the new mean and standard deviation be?

In [8]:
(a ** 2).mean()

74.0

In [9]:
(a ** 2).std()

144.0243035046516

### 6. A common statistical operation on a dataset is centering. This means to adjust the data such that the center of the data is at 0. This is done by subtracting the mean from each data point. Center the data set.

In [21]:
a_mean = a.mean()
a_std = a.std()

In [19]:
a - a_mean

array([  1.,   7.,   9.,  20.,  -5.,  -4.,  -3.,  -3.,  -3.,  -9.,   0.,
       -10.])

In [20]:
(a - a_mean).mean()

0.0

### 7. Calculate the z-score for each data point. Recall that the z-score is given by:

z_score = x - mean / standard deviation

In [23]:
z_score = (a - a_mean) / a_std
z_score

array([ 0.12403473,  0.86824314,  1.11631261,  2.48069469, -0.62017367,
       -0.49613894, -0.3721042 , -0.3721042 , -0.3721042 , -1.11631261,
        0.        , -1.24034735])

### 8. More Numpy Exercises

In [24]:
# Setup 1

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
# Setup 3

c = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [36]:
c_arr = np.array(c)

In [48]:
# 6. The dot product of array c with c.

np.dot(c_arr, c)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [45]:
(c_arr * c_arr.T)

array([[ 1,  8, 21],
       [ 8, 25, 48],
       [21, 48, 81]])

In [39]:
# 7. The sum of c * c transposed

ct_sum = (c_arr * c_arr.T).sum()
ct_sum

261

In [44]:
# 8 The product of c * c transposed

np.prod(c_arr * c_arr.T)

131681894400

In [49]:
import pandas as pd

In [54]:
s = pd.Series(data = ['blue', 1, 3, 'red'])
s

0    blue
1       1
2       3
3     red
dtype: object

In [57]:
type(s[0])

str

In [56]:
type(s[1])

int

In [62]:
s = pd.Series(data = [1, None, 2])
s

0    1.0
1    NaN
2    2.0
dtype: float64

In [63]:
s[:1]

0    1.0
dtype: float64

In [64]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 17, 19, 23, 256, -8, -4, -2, 5, -9]
numbers_s = pd.Series(numbers)

In [66]:
numbers_s[numbers_s % 2 == 0]

0       2
2       4
4       6
6       8
8      10
14    256
15     -8
16     -4
17     -2
dtype: int64

In [71]:
numbers_s[numbers_s.abs().astype('str').apply(len) >= 2]

8      10
9      11
10     13
11     17
12     19
13     23
14    256
dtype: int64

In [72]:
numbers_s.abs().astype('str').apply(len) >= 2

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15    False
16    False
17    False
18    False
19    False
dtype: bool

In [92]:
# Very interesting solve for identifying prime numbers.

numbers_s[numbers_s.apply(lambda n: all(n % i != 0 for i in range(2, n)) and n > 0)]

0      2
1      3
3      5
5      7
9     11
10    13
11    17
12    19
13    23
18     5
dtype: int64